<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/d045365/Documents/private/TV-Tank/Resources/Video/TV Tank Preview.mp4</key>
	<data>
	Ym9va2gDAAAAAAQQMAAAACwFqJEoppZu6g0VDopJ6a/L9Jr9s5e3enOnDOuyi2AtZAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUABwAAAAEBAABUVi1UYW5rAAkAAAAB
	AQAAUmVzb3VyY2VzAAAABQAAAAEBAABWaWRlbwAAABMAAAABAQAAVFYgVGFuayBQcmV2
	aWV3Lm1wNAAgAAAAAQYAABAAAAAgAAAAMAAAAEQAAABUAAAAZAAAAHgAAACIAAAACAAA
	AAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAAAAAIAAAABAMAALg2DwAAAAAACAAAAAQD
	AACmJhwAAAAAAAgAAAAEAwAAbmrNBQAAAAAIAAAABAMAAIu90AUAAAAACAAAAAQDAAAV
	v9AFAAAAAAgAAAAEAwAAFr/QBQAAAAAgAAAAAQYAAMwAAADcAAAA7AAAAPwAAAAMAQAA
	HAEAACwBAAA8AQAACAAAAAAEAABBwkyrdhqDYBgAAAABAgAAAQAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHBp44W
	k0HUJAAAAAEBAABBMzk1ODhGQS0zOTAyLTQzNzQtQjREMS1ENjcwQUFDQTFDQTEYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAA
	AP7///8BAAAAAAAAABAAAAAEEAAApAAAAAAAAAAFEAAATAEAAAAAAAAQEAAAhAEAAAAA
	AABAEAAAdAEAAAAAAAACIAAAUAIAAAAAAAAFIAAAwAEAAAAAAAAQIAAA0AEAAAAAAAAR
	IAAABAIAAAAAAAASIAAA5AEAAAAAAAATIAAA9AEAAAAAAAAgIAAAMAIAAAAAAAAwIAAA
	XAIAAAAAAAABwAAApAEAAAAAAAARwAAAIAAAAAAAAAASwAAAtAEAAAAAAAAQ0AAABAAA
	AAAAAAA=
	</data>
	<key>/Users/d045365/Downloads/menu-touch.png</key>
	<data>
	Ym9va8ACAAAAAAQQMAAAAIDX5ZIc95IFv16++bwSrSuLyYMQQAhVyl/fCfKWeSwkvAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb3dubG9hZHMAAAAOAAAAAQEAAG1lbnUtdG91Y2gucG5nAAAQAAAAAQYAABAAAAAg
	AAAAMAAAAEQAAAAIAAAABAMAANbKCQAAAAAACAAAAAQDAACrNg8AAAAAAAgAAAAEAwAA
	ujYPAAAAAAAIAAAABAMAAKM+0gUAAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwkytZVXoSxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHBp44Wk0HUJAAAAAEBAABBMzk1
	ODhGQS0zOTAyLTQzNzQtQjREMS1ENjcwQUFDQTFDQTEYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQEAAA3AAAAAAAAABAEAAAzAAAAAAAAAAC
	IAAAqAEAAAAAAAAFIAAAGAEAAAAAAAAQIAAAKAEAAAAAAAARIAAAXAEAAAAAAAASIAAA
	PAEAAAAAAAATIAAATAEAAAAAAAAgIAAAiAEAAAAAAAAwIAAAtAEAAAAAAAABwAAA/AAA
	AAAAAAARwAAAIAAAAAAAAAASwAAADAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
